.bingo-board {
  text-align: center;
  background-color: transparent;
  list-style-type: none;
  width: 60vw;
  height: auto;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: flex;
}

.bingo-board-button-container {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}